.freeform-text {
  @apply text-center mx-auto mb-14 sm:mb-24 px-6;
  max-width: 45rem;

  .enlarge-paragraph,
  &--intro {
    @apply text-lightBrown mb-6 sm:mb-12;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .slightly-enlarge-paragraph {
    @apply text-lightBrown;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  &__title {
    @apply font-bold text-center mb-4;
  }

  &__list {
    @apply text-2xl;
  }

  h1,
  .is-h1 {
    @apply mb-6;
  }

  h2,
  .is-h2 {
    @apply mb-6;
  }

  h3,
  .is-h3 {
    @apply mb-6;
  }

  h4,
  .is-h4 {
    @apply mb-6;
  }

  h5 {
    @apply mb-6;
  }

  h6 {
    @apply mb-6;
  }

  h1,
  .is-h1,
  h2,
  .is-h2,
  h3,
  .is-h3,
  h4,
  .is-h4,
  h5,
  h6 {
    &:last-child {
      @apply mb-0;
    }
  }

  .left {
    text-align: left;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
}

.section .freeform-text {
  @apply mb-0 px-0;
}

figure + .freeform-text {
  @apply mt-4;
}
