.shop-navigation {
  &__mobile-select {
    @apply block sm:hidden pt-12 mx-6 z-20 relative;
  }
  ul {
    @apply pt-12 pb-6 px-6 sm:px-0 mx-auto items-center justify-center hidden sm:flex;
    max-width: 64rem;
  }
  li {
    @apply mx-4;
  }

  a {
    @apply block text-2xl relative py-1;
    .link__text {
      @apply block;
    }
    &::after {
      @apply absolute left-0 w-0 border-b-4 border-highlight;
      content: '';
      top: calc(100% + 1px);
      transform: translateY(-50%);
      transition: width 0.2s ease-in;
    }

    &:hover,
    &:focus {
      &::after {
        @apply w-full;
      }
      .link__text {
        animation: textY 0.4s 1;
      }
    }

    &.active {
      &::after {
        @apply w-full border-lightGrey;
      }
    }
  }
}

.shop-navigation__mobile-select {
  @apply text-xl;
  .shop-navigation-select {
    &__control {
      @apply rounded-none border-darkBrown;
      min-height: 42px;
    }
    &__control--is-focused:hover,
    &__control--menu-is-open:hover {
      @apply border-darkBrown shadow-none;
    }
    &__value-container {
      @apply order-1 px-9;
    }
    &__single-value {
      @apply text-center;
    }
    &__indicators {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    &__indicator svg {
      fill: var(--darkBrown);
    }
    &__indicator-separator {
      display: none;
    }
    &__menu {
      @apply rounded-none text-center;
    }
    &__menu-list {
      @apply text-center;
    }
    &__option {
      @apply border-b border-darkBrown mx-3;
      width: auto;
      &:last-child {
        border-bottom-color: transparent;
      }
    }
    &__option--is-focused {
      background-color: transparent;
      color: inherit;
    }
    &__option--is-selected {
      background-color: transparent;
      @apply text-highlight;
    }
  }
}
