.ingredients-list {
  li {
    @apply py-1;
  }

  .btn {
    display: inline-flex;
    line-height: normal;
    height: 2rem;
    width: 2rem;
    &.is-adding {
      width: auto;
    }
    svg {
      width: 1rem !important;
      height: 1rem !important;
    }
  }
}
