.our-team {
  @apply container mx-auto px-6;
  &__title {
    @apply text-center mx-auto mb-12 text-lightBrown;
    max-width: 40rem;
    font-size: 2rem;
  }

  &__row {
    @apply sm:flex mb-12 max-w-3xl mx-auto;
  }

  &__row:nth-child(odd) &__content {
    @apply order-last mr-0 sm:ml-8;
  }

  &__content {
    @apply flex-1 mb-4 sm:mr-8 sm:mb-0;
  }

  &__image-container {
    @apply flex-none max-w-full;
    width: 320px;
  }

  &__content-title {
    @apply text-2xl sm:text-3xl mb-6;
  }
}
