.our-team {
  @apply container mx-auto px-6 pt-6;
  &__title {
    @apply text-center mx-auto mb-12 text-5xl;
    max-width: 40rem;
  }

  &__row {
    @apply sm:flex mb-16 max-w-3xl mx-auto;
  }

  &__row:nth-child(odd) &__content {
    @apply order-last mr-0 sm:ml-16;
  }

  &__content {
    @apply flex-1 mb-8 sm:mr-16 sm:mb-0;
  }

  &__image-container {
    @apply flex-none max-w-full;
    width: 320px;
  }

  &__content-title {
    @apply mb-6;
    font-size: 2rem;
  }
}
