.products-grid {
  @apply container mx-auto mb-24 px-6 sm:px-0;
  &__title {
    @apply text-center mx-auto mb-8 text-3xl sm:text-5xl;
    max-width: 40rem;
  }
  &__list {
    @apply pt-4 grid grid-cols-1 gap-4 sm:grid-cols-3;

    li {
      @apply mb-6;
    }
    img {
      transition: all 0.2s ease-in-out;
    }
    a {
      display: block;
    }

    a:hover img,
    a:focus img {
      transform: scale(1.05) translate3d(-50%, -50%, 0);
    }
  }
}

.products-grid-item-title {
  @apply bg-white text-center px-4 py-6 block text-2xl;
}
