.products-grid {
  @apply container mx-auto mb-24 px-6 sm:px-0;
  &__title {
    @apply text-center mx-auto mb-8 text-3xl sm:text-5xl;
    max-width: 40rem;
  }
  &__list {
    @apply pt-4 grid grid-cols-1 gap-4 sm:grid-cols-3;
  }
}

.products-grid__list-item {
  @apply mb-6;
  &-title {
    @apply bg-white text-center px-4 py-2 block text-2xl;
  }

  a {
    @apply block border-2 border-transparent p-8 rounded-xl;
    transition: border-color 0.2s ease-out;
  }
  a:hover,
  a:focus {
    @apply border-highlight;
  }
}
