.quote {
  @apply container border-t border-b border-lightBrown mx-auto px-6 sm:px-0 mb-24;
  &__inner {
    @apply py-16 mx-auto flex items-center flex-col;
    max-width: 64rem;
  }
  &:last-child {
    @apply border-b-0;
  }
  &:last-child &__inner {
    @apply mb-0;
  }
  blockquote {
    @apply text-3xl sm:text-5xl m-0;
  }
  blockquote p {
    @apply text-3xl sm:text-5xl text-center flex mb-0;
  }
  blockquote footer {
    @apply block text-2xl sm:text-2xl text-center;
  }
  blockquote p::before {
    @apply text-highlight text-7xl pr-2;
    content: '\201D';
    line-height: inherit;
  }
  blockquote p::after {
    @apply text-highlight text-7xl pl-2;
    content: '\201D';
    line-height: inherit;
  }
}
