.section + .recipe-listing {
  @apply pt-8;
}
.recipe-listing {
  @apply container mx-auto mb-24 px-6 sm:px-0;
  &__title {
    @apply text-center mx-auto text-4xl sm:text-5xl;
    max-width: 40rem;
  }
  &__title + &__subtitle {
    @apply text-center mx-auto mt-4 text-lightBrown;
    max-width: 40rem;
  }

  &__list {
    @apply mt-8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;

    li {
      flex: none;
      flex-basis: 100%;
      padding: 0 0.5rem 2rem;

      @media (--sm) {
        flex-basis: 33.33333%;
      }
    }
    img {
      transition: all 0.2s ease-out;
    }
    a {
      display: block;
    }

    a:hover .recipe-listing-item-title,
    a:focus .recipe-listing-item-title {
      animation: textY 0.4s 1;
    }
    a:hover img,
    a:focus img {
      transform: scale(1.01) translate3d(-50%, -50%, 0);
    }
  }

  &__cta-control {
    @apply text-center;
  }
}

.recipe-listing-item-title {
  @apply bg-white text-center px-4 py-6 block text-2xl;
}
